certmanager:
  install: true

registry:
  enabled: false

nginx-ingress:
  enabled: false

gitlab:
  webservice:
    registry:
      enabled: false
{% if dsc.global.metrics.enabled %}
    metrics:
      serviceMonitor:
        enabled: true
{% endif %}
  sidekiq:
    registry:
      enabled: false
{% if dsc.global.metrics.enabled %}
    metrics:
      podMonitor:
        enabled: true
{% endif %}
  unicorn:
    registry:
      enabled: false
  gitaly:
{% if dsc.global.metrics.enabled %}
    metrics:
      serviceMonitor:
        enabled: true
{% endif %}
  gitlab-exporter:
{% if dsc.global.metrics.enabled %}
    metrics:
      serviceMonitor:
        enabled: true
{% endif %}
  kas:
    enabled: false
{% if dsc.global.metrics.enabled %}
    metrics:
      serviceMonitor:
        enabled: true
{% endif %}


global:
  registry:
    enabled: false
{% if private_image_repository is defined and private_image_repository != "" %}
  kubectl:
    image:
      repository: "{{ private_image_repository }}/gitlab-org/build/cng/kubectl"
  gitlabBase:
    image:
      repository: "{{ private_image_repository }}/gitlab-org/build/cng/gitlab-base"
{% endif %}
  certificates:
    customCAs:
{% if not cluster_k8s %}
      - configMap: openshift-service-ca.crt
{% endif %}
{% for item in dsc.additionalsCA %}
{% if item.kind == 'ConfigMap' %}
      - configMap: {{ item.name }}
{% endif %}
{% if item.kind == 'Secret' %}
      - secret: {{ item.name }}
{% endif %}
{% endfor %}
{% if dsc.exposedCA.type != 'none' %}
      - secret: exposed-ca
{% endif %}
  hosts:
    domain: {{ dsc.global.rootDomain[1:] }}
    registry:
      name: gitlab-registry.example.com
    minio:
      name: {{ dsc_name }}-minio{{ dsc.global.rootDomain }}
    kas:
      name: {{ dsc_name }}-kas{{ dsc.global.rootDomain }}
{% if gitlab_domain %}
    gitlab:
      name: {{ gitlab_domain }}
{% endif %}

  appConfig:
    defaultProjectsFeatures:
      containerRegistry: false
    ldap:
      preventSignin: true
    omniauth:
      enabled: true
      syncProfileAttributes: ["email"]
      allowSingleSignOn: ["openid_connect"]
      blockAutoCreatedUsers: false
      autoSignInWithProvider: "openid_connect"
      autoLinkLdapUser: false
      autoLinkSamlUser: false
      autoLinkUser: ["openid_connect"]
      providers:
        - secret: openid-connect

{% if private_image_repository is defined and private_image_repository != "" %}
shared-secrets:
  selfsign:
    image:
      repository: "{{ private_image_repository }}/gitlab-org/build/cng/cfssl-self-sign"
{% endif %}

{% if private_image_repository is defined and private_image_repository != "" %}
minio:
  image: "{{ private_image_repository }}/minio"
  minioMc:
    image: "{{ private_image_repository }}/mc"
    
gitaly:
  image:
    repository: "{{ private_image_repository }}gitlab-org/build/cng/gitaly"

redis:
  image:
    registry: "{{ private_image_repository }}"
  metrics:
    image:
      registry: "{{ private_image_repository }}"
{% endif %}

prometheus:
  install: false

{% if dsc.global.backup.type == 'velero' %}
postgresql:
  primary:
    podAnnotations:
      pre.hook.backup.velero.io/command: '["/bin/bash", "-c", "PGPASSWORD=$POSTGRES_POSTGRES_PASSWORD pg_dump -Fc  -U postgres -d gitlabhq_production  > /bitnami/postgresql/data/app.dump"]'
{% endif %}
