certmanager:
  install: true

registry:
  enabled: false

nginx-ingress:
  enabled: false

gitlab:
  webservice:
    registry:
      enabled: false
{% if dsc.global.metrics.enabled %}
    metrics:
      serviceMonitor:
        enabled: true
{% endif %}
  sidekiq:
    registry:
      enabled: false
{% if dsc.global.metrics.enabled %}
    metrics:
      podMonitor:
        enabled: true
{% endif %}
  unicorn:
    registry:
      enabled: false
  gitaly:
{% if dsc.global.metrics.enabled %}
    metrics:
      serviceMonitor:
        enabled: true
{% endif %}
{% if dsc.general.registry %}
    image:
      repository: "{{ dsc.general.registry }}/gitlab-org/build/cng/gitaly"
{% endif %}
    persistence:
      size: {{ dsc.gitlab.pvcGitalySize }}
  gitlab-exporter:
{% if dsc.global.metrics.enabled %}
    metrics:
      serviceMonitor:
        enabled: true
{% endif %}
{% if dsc.general.registry %}
    image:
      repository: "{{ dsc.general.registry }}/gitlab-org/build/cng/gitlab-exporter"
  gitlab-shell:
    image:
      repository: "{{ dsc.general.registry }}/gitlab-org/build/cng/gitlab-shell"
{% endif %}

  kas:
    enabled: false
{% if dsc.global.metrics.enabled %}
    metrics:
      serviceMonitor:
        enabled: true
{% endif %}
{% if dsc.general.registry %}
    image:
      repository: "{{ dsc.general.registry }}/gitlab-org/build/cng/gitlab-kas"
  toolbox:
    image:
      repository: "{{ dsc.general.registry }}/gitlab-org/build/cng/gitlab-toolbox-ee"
{% endif %}
    

global:
  registry:
    enabled: false
{% if dsc.general.registry %}
  kubectl:
    image:
      repository: "{{ dsc.general.registry }}/gitlab-org/build/cng/kubectl"
  gitlabBase:
    image:
      repository: "{{ dsc.general.registry }}/gitlab-org/build/cng/gitlab-base"
{% endif %}
  certificates:
    customCAs:
      - configMap: openshift-service-ca.crt
{% for item in dsc.additionalsCA %}
{% if item.kind == 'ConfigMap' %}
      - configMap: {{ item.name }}
{% endif %}
{% if item.kind == 'Secret' %}
      - secret: {{ item.name }}
{% endif %}
{% endfor %}
{% if dsc.exposedCA.type != 'none' %}
      - secret: exposed-ca
{% endif %}
{% if dsc.general.registry %}
    image:
      repository: "{{ dsc.general.registry }}/gitlab-org/build/cng/certificates"
{% endif %}
  hosts:
    domain: {{ dsc.global.rootDomain[1:] }}
    registry:
      name: gitlab-registry.example.com
    minio:
      name: {{ dsc_name }}-minio{{ dsc.global.rootDomain }}
    kas:
      name: {{ dsc_name }}-kas{{ dsc.global.rootDomain }}
{% if gitlab_domain %}
    gitlab:
      name: {{ gitlab_domain }}
{% endif %}
{% if dsc.general.registry %}
  enterpriseImages:
    migrations:
      repository: "{{ dsc.general.registry }}/gitlab-org/build/cng/gitlab-toolbox-ee"
    sidekiq:
      repository: "{{ dsc.general.registry }}/gitlab-org/build/cng/gitlab-sidekiq-ee"
    toolbox:
      repository: "{{ dsc.general.registry }}/gitlab-org/build/cng/gitlab-toolbox-ee"
    webservice:
      repository: "{{ dsc.general.registry }}/gitlab-org/build/cng/gitlab-webservice-ee"
    workhorse:
      repository: "{{ dsc.general.registry }}/gitlab-org/build/cng/gitlab-workhorse-ee"
    geo-logcursor:
      repository: "{{ dsc.general.registry }}/gitlab-org/build/cng/gitlab-geo-logcursor"
  communityImages:
    migrations:
      repository: "{{ dsc.general.registry }}/gitlab-org/build/cng/gitlab-toolbox-ce"
    sidekiq:
      repository: "{{ dsc.general.registry }}/gitlab-org/build/cng/gitlab-sidekiq-ce"
    toolbox:
      repository: "{{ dsc.general.registry }}/gitlab-org/build/cng/gitlab-toolbox-ce"
    webservice:
      repository: "{{ dsc.general.registry }}/gitlab-org/build/cng/gitlab-webservice-ce"
    workhorse:
      repository: "{{ dsc.general.registry }}/gitlab-org/build/cng/gitlab-workhorse-ce"
{% endif %}

  appConfig:
    defaultProjectsFeatures:
      containerRegistry: false
    ldap:
      preventSignin: true
    omniauth:
      enabled: true
      syncProfileAttributes: ["email"]
      allowSingleSignOn: ["openid_connect"]
      blockAutoCreatedUsers: false
      autoSignInWithProvider: "openid_connect"
      autoLinkLdapUser: false
      autoLinkSamlUser: false
      autoLinkUser: ["openid_connect"]
      providers:
        - secret: openid-connect

{% if dsc.general.registry %}
shared-secrets:
  selfsign:
    image:
      repository: "{{ dsc.general.registry }}/gitlab-org/build/cng/cfssl-self-sign"

minio:
  image: "{{ dsc.general.registry }}/minio"
  minioMc:
    image: "{{ dsc.general.registry }}/mc"

postgresql:
  image:
    registry: "{{ dsc.general.registry }}"
  metrics:
    image:
      registry: "{{ dsc.general.registry }}"

redis:
  image:
    registry: "{{ dsc.general.registry }}"
  metrics:
    image:
      registry: "{{ dsc.general.registry }}"
{% endif %}

prometheus:
  install: false

{% if dsc.global.backup.type == 'velero' %}
postgresql:
  primary:
    podAnnotations:
      pre.hook.backup.velero.io/command: '["/bin/bash", "-c", "PGPASSWORD=$POSTGRES_POSTGRES_PASSWORD pg_dump -Fc  -U postgres -d gitlabhq_production  > /bitnami/postgresql/data/app.dump"]'
{% endif %}
