{% if dsc.general.registry is not defined or dsc.general.registry is defined and dsc.general.registry == "" %}
image:
  registry: docker.io
  pullPolicy: "IfNotPresent"
{% endif %}

{% if dsc.general.registry %}
image:
  registry: "{{ dsc.general.registry }}"
  pullPolicy: "IfNotPresent"
{% endif %}
