{% if dsc.general.registry %}
injector:
  image:
    repository: "{{ dsc.general.registry }}/hashicorp/vault-k8s"
  agentImage:
    repository: "{{ dsc.general.registry }}/hashicorp/vault"

server:
  image:
    repository: "{{ dsc.general.registry }}/hashicorp/vault"

csi:
  image:
    repository: "{{ dsc.general.registry }}/hashicorp/vault-csi-provider"
  agent:
    image:
      repository: "{{ dsc.general.registry }}/hashicorp/vault"
{% endif %}
